<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="http://jsonp.ke.qq.com">
<meta name="keywords" content="腾讯课堂,QQ群视频教育,免费课,腾讯在线教育,腾讯教育,腾讯在线课堂,QQ在线教育,QQ教育,公开课,在线学习">
<meta name="description" content="腾讯推出的专业在线教育平台。依托QQ群视频和腾讯视频直播能力，实现老师在线上课教学，学生即时互动学习的课堂。下设职业培训、公务员考试、托福雅思、考证考级、英语口语、中小学教育等众多分类课程。">
<title>腾讯课堂-专业的在线教育平台</title>
<script>var T = [new Date()-0];</script>
<link rel="stylesheet" href="http://8.url.cn/edu/css/common.min.42e9.css"/>
<link rel="stylesheet" href="http://8.url.cn/edu/css/index.min.4962.css"/>
<link rel="shortcut icon" href="http://9.url.cn/edu/img/favicon.ico"/>
</head>
<body>

<div class="header" id="js_header">
	<div class="h-inner autoM">
		<div class="logo-area"><h1><a href="http://ke.qq.com/index.html" class="logo pngFix">腾讯课堂-专业的在线教育平台</a></h1></div>
		<div class="nav-area">
			<ul class="nav" id="js_main_nav">
				<li id="auto-test-nav-1" class="nav-item"><a href="http://ke.qq.com/index.html" class="nav-a" title="腾讯课堂" report-tdw="action=Title-clk&ver1=1">首页</a></li>
				<li id="auto-test-nav-2" class="nav-item"><a href="http://ke.qq.com/cgi-bin/courseList" class="nav-a" title="全部课程" report-tdw="action=Title-clk&ver1=2">全部课程</a></li>
				<li id="auto-test-nav-3" class="nav-item"><a rel="nofollow" href="http://ke.qq.com/myCourse.html"  class="nav-a" title="我的课程" report-tdw="action=Title-clk&ver1=3">我的课程</a></li>
				<li id="js_agency_manage" class="nav-item js-agency-manage" style="display: none;"><a rel="nofollow" href="http://ke.qq.com/agencyManage.html" class="nav-a" title="机构管理" report-tdw="action=Title-clk&ver1=5">机构管理</a></li>
				<li id="js_agency_join" class="nav-item js-agency-join" style="display: none;"><a rel="nofollow" href="http://ke.qq.com/applyLecture.html" class="nav-a" title="机构入驻" report-tdw="action=Title-clk&ver1=4">机构入驻</a></li>
                <li id="auto-test-nav-5" class="nav-item"><a href="http://ke.qq.com/faq.html" class="nav-a" title="帮助" report-tdw="action=Title-clk&ver1=6">帮助</a></li>
			</ul>
		</div>

		<ul class="login-area">
            <li><a rel="nofollow" href="http://support.qq.com/write.shtml?fid=1042" target="_blank" report-tdw="action=feedback">反馈</a></li><li class="split-line">|</li><li><a href="#" class="js-login-op" data-hook="login" id="js_login" report-tdw="action=pt-login" >登录</a><span id="js_logout_outer" style="display: none;"></span></li><div class="clear"></div>
		</ul>
		<div class="search-area">
			<div class="search">
				<input id="js_keyword" type="text" maxLength="38" class="search-input" placeholder="搜索感兴趣的课程" />
                <a href="javascript:void(0)" id="js_header_clear" class="clear-btn" title="清空"></a>
				<a href="javascript:void(0)" class="search-btn" id="js_search" report-tdw="action=Search-clk"></a>
			</div>
		</div>
	</div>
</div>

<div id="js_cdn_switch_detector" class="js_cdn_switch_detector" style="height:0;font-size:0;height:0;position:absolute;"></div>

<script>var isIE6=!-[1,]&&!window.XMLHttpRequest;</script>

<div class="main autoM">
    <div class="l-side">
        <div class="l-side-cont">
            <div class="ls-hd"><a href="/cgi-bin/courseList" target="_blank"><h2>全部课程分类</h2></a></div>
            <div class="ls-bd">
                <div class="ls-menu">
    <ul class="ls-menu-bd" id="js_type_list">
        <li data-index="1">
            <h3><a class="st js-type-sub" target="_blank" href="/cgi-bin/courseList?mt=1" mt="1">语言学习</a></h3>
            <p><a target="_blank" href="/cgi-bin/courseList?mt=1&st=2" mt="1" st="2" class="js-type-sub">英语口语<span class="rec js_rec"></span></a><a target="_blank" href="/cgi-bin/courseList?mt=1&st=3" mt="1" st="3" class="js-type-sub">英语教程</a><a target="_blank" href="/cgi-bin/courseList?mt=1&st=4" mt="1" st="4" class="js-type-sub">小语种</a><a target="_blank" href="/cgi-bin/courseList?mt=1&st=5" mt="1" st="5" class="js-type-sub">雅思/托福</a><a target="_blank" href="/cgi-bin/courseList?mt=1&st=6" mt="1" st="6" class="js-type-sub">四/六级</a></p>
        </li>
        <li data-index="2">
            <h3><a class="st js-type-sub" target="_blank" href="/cgi-bin/courseList?mt=7" mt="7">技能培训</a></h3>
            <p><a target="_blank" href="/cgi-bin/courseList?mt=7&st=8" mt="7" st="8" class="js-type-sub">编程开发</a><a target="_blank" href="/cgi-bin/courseList?mt=7&st=9" mt="7" st="9" class="js-type-sub">工具软件</a><a target="_blank" href="/cgi-bin/courseList?mt=7&st=10" mt="7" st="10" class="js-type-sub">IT设计<span class="rec js_rec"></span></a><a target="_blank" href="/cgi-bin/courseList?mt=7&st=11" mt="7" st="11" class="js-type-sub">职业技能</a><a target="_blank" href="/cgi-bin/courseList?mt=7&st=12" mt="7" st="12" class="js-type-sub">网络营销</a></p>
        </li>
        <li data-index="3">
            <h3><a class="st js-type-sub" target="_blank" href="/cgi-bin/courseList?mt=13" mt="13">考证考级</a></h3>
            <p><a target="_blank" href="/cgi-bin/courseList?mt=13&st=15" mt="13" st="15" class="js-type-sub">考研/自考</a><a target="_blank" href="/cgi-bin/courseList?mt=13&st=16" mt="13" st="16" class="js-type-sub">公务员</a><a target="_blank" href="/cgi-bin/courseList?mt=13&st=17" mt="13" st="17" class="js-type-sub">财会类</a><a target="_blank" href="/cgi-bin/courseList?mt=13&st=18" mt="13" st="18" class="js-type-sub">建筑类</a><a target="_blank" href="/cgi-bin/courseList?mt=13&st=19" mt="13" st="19" class="js-type-sub">金融类</a><a target="_blank" href="/cgi-bin/courseList?mt=13&st=20" mt="13" st="20" class="js-type-sub">其他考试</a></p>
        </li>
        <li data-index="4">
            <h3><a class="st js-type-sub" target="_blank" href="/cgi-bin/courseList?mt=14" mt="14">中小学</a></h3>
            <p><a target="_blank" href="/cgi-bin/courseList?mt=14&st=29" mt="14" st="29" class="js-type-sub">小学</a><a target="_blank" href="/cgi-bin/courseList?mt=14&st=30" mt="14" st="30" class="js-type-sub">初中</a><a target="_blank" href="/cgi-bin/courseList?mt=14&st=31" mt="14" st="31" class="js-type-sub">高中</a><a target="_blank" href="/cgi-bin/courseList?mt=14&st=32" mt="14" st="32" class="js-type-sub">小升初备战</a><a target="_blank" href="/cgi-bin/courseList?mt=14&st=33" mt="14" st="33" class="js-type-sub">中考备战</a><a target="_blank" href="/cgi-bin/courseList?mt=14&st=34" mt="14" st="34" class="js-type-sub">高考备战</a></p>
        </li>
        <li data-index="5">
            <h3><a class="st js-type-sub" target="_blank" href="/cgi-bin/courseList?mt=21" mt="21">兴趣爱好</a></h3>
            <p><a target="_blank" href="/cgi-bin/courseList?mt=21&st=22" mt="21" st="22" class="js-type-sub">生活百科</a><a target="_blank" href="/cgi-bin/courseList?mt=21&st=23" mt="21" st="23" class="js-type-sub">文化艺术</a><a target="_blank" href="/cgi-bin/courseList?mt=21&st=24" mt="21" st="24" class="js-type-sub">时尚健康</a><a target="_blank" href="/cgi-bin/courseList?mt=21&st=25" mt="21" st="25" class="js-type-sub">投资理财</a></p>
        </li>
        <li data-index="6">
            <h3><a class="st js-type-sub" target="_blank" href="/cgi-bin/courseList?mt=26" mt="26">亲子课堂</a></h3>
            <p><a target="_blank" href="/cgi-bin/courseList?mt=26&st=27" mt="26" st="27" class="js-type-sub">家长专区</a><a target="_blank" href="/cgi-bin/courseList?mt=26&st=28" mt="26" st="28" class="js-type-sub">学前早教</a></p>
        </li>
    </ul>
</div>


                <div class="bm-menu feed-ctn">
                    <div class="bm-menu-hd"><h3>报名动态</h3></div>
                    <ul class="bm-menu-bd" id="js_feed_list"><%-feed_list%></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="cont" style="height:1618px;">
        <div class="banner" id="js_banner">
    <div class="slider" id="js_slider">
        	<ul class="sliderbox" id="js_sliderbox">
				<li report-tdw="action=Banner-clk&ver1=33"><a target="_blank" href="http://ke.qq.com/cgi-bin/courseDetail?course_id=3992"><img height="280" width="758" src="http://p.qpic.cn/qqcourse_logo/duc2TvpEgSQ1S5uoT3IuIQLIoRL1K6rvWcF5hSqq98NDMwlReodTt3wiakCBT7mwU/0" /></a></li>
				<li report-tdw="action=Banner-clk&ver1=34"><a target="_blank" href="http://ke.qq.com/cgi-bin/courseDetail?course_id=4937"><img height="280" width="758" src="http://p.qpic.cn/qqcourse_logo/duc2TvpEgSTy59SA0OWxMdJXBWk7shHuvEn2pCPTla4KPiacibicJxAALu8b2SvT3wY/0" /></a></li>
			</ul>

    </div>
    	<ul class="slidernav" id="js_slidernav">
				<li></li>
				<li></li>
			</ul>
    <a href="javascript:void(0);" style="display:none;" class="b-pre-btn pngFix" id="js_slider_pre"></a>
    <a href="javascript:void(0);" style="display:none;" class="b-next-btn pngFix" id="js_slider_next"></a>
</div>
        <div class="market-mod" style="margin-top:24px;height:271px;"  id="auto-test-3" >
            <div class="market-hd">
                <span class="title live"><h3 class="no-font">最近课程</h3></span><span id="js_live_count_ctn" style="display:none;font-size:14px">有&nbsp;<span class="count" id="js_live_count">0</span>&nbsp;门公开课正在上课</span>
                <a id="auto-test-3-more" href="/cgi-bin/courseList?sort=4" target="_blank" class="more" style="margin-left:5px;" report-tdw="action=openclass-more">更多<i class="no-font">最近课程</i></a>
            </div>
            <div class="market-cnt">
                <div class="market-bd">
                    <div style="float:left;width:400000px;height:234px;margin-top:2px;" id="js_live_container">
                    <%-live_list%>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="line"></div>

                <div class="mlm-tool l s">
                    <a href="javascript:void(0)" style="display:none" id="js_live_pre" class="pre-btn-dis" report-tdw="action=openclass-next"><span></span></a>
                </div>
                <div class="mlm-tool r s"><a href="javascript:void(0)" style="display:none" id="js_live_next" class="next-btn" report-tdw="action=openclass-next"><span></span></a></div>
            </div>
        </div>
        <div class="market-mod" style="margin-top:30px;"  id="auto-test-4" >
            <div class="market-hd"><h3 class="no-font">精品课程</h3><span class="title hot"></span><a id="auto-test-4-more"  href="/cgi-bin/courseList?sort=1" target="_blank" class="more" report-tdw="action=Hotclass-more">更多<i class="no-font">精品课程</i></a></div>
            <div class="market-cnt">
                <div class="market-bd">
                    <div id="js_hot_container" style="float:left;width:400000px;height:470px;">
                    <%-hot_list%>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="line"></div>

                <div class="mlm-tool l"><a href="javascript:void(0)" style="display:none" id="js_hot_pre" class="pre-btn-dis" report-tdw="action=Hotclass-next"><span></span></a></div>
                <div class="mlm-tool r"><a href="javascript:void(0)" style="display:none" id="js_hot_next" class="next-btn" report-tdw="action=Hotclass-next"><span></span></a></div>
            </div>
        </div>
        <div class="market-mod" style="margin-top:23px;"  id="auto-test-5" >
            <div class="market-hd"><h3 class="no-font">最新课程</h3><span class="title new"></span><a id="auto-test-5-more"  href="/cgi-bin/courseList?sort=3" target="_blank" class="more" report-tdw="action=Newclass-more">更多<i class="no-font">最新课程</i></a></div>
            <div class="market-cnt">
                <div class="market-bd">
                    <div id="js_new_container" style="float:left;width:400000px;height:470px;">
                    <%-new_list%></div>
                    <div class="clear"></div>
                </div>
            <div class="mlm-tool l"><a href="javascript:void(0)" style="display:none" id="js_new_pre" class="pre-btn-dis" report-tdw="action=Newclass-next"><span></span></a></div>
            <div class="mlm-tool r"><a href="javascript:void(0)" style="display:none" id="js_new_next" class="next-btn" report-tdw="action=Newclass-next"><span></span></a></div>
            </div>
        </div>
    </div>
    <div class="r-side">
        <div class="r-side-cont">
            <div class="rs-login" id="js_person_info"></div>
            <div class="rank-mod" style="height:370px;"  id="auto-test-6" >
                <div class="rank-mod-hd"><h3>付费精品课Top5</h3></div>
                <ul class="rank-mod-bd" id="js_pay_list"><%-pay_list%></ul>
            </div>
            <div class="rank-mod" style="height:370px;"  id="auto-test-7">
                <div class="rank-mod-hd"><h3>免费公开课Top5</h3></div>
                <ul class="rank-mod-bd" id="js_free_list"><%-free_list%></ul>
            </div>
            <div class="rank-mod agency-rank"  id="auto-test-8" >
                <div class="rank-mod-hd" style="margin-left:14px;"><h3>最受欢迎机构Top5</h3></div>
                <ul class="rank-mod-bd" id="js_most_hall_list"><%-most_hall%></ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>


</div>

<div class="hz-menu autoM index-bottom" id="auto-test-bottom">
    <div class="market-hd" style="padding-left:15px;margin-bottom:21px;"><span class="title"></span><a rel="nofollow" id="js_apply" href="/applyLecture.html"  target="_blank" class="more" report-tdw="action=Agency-applyclk">机构入驻</a></div>
    <div class="hz-menu-bd">
        <a href="javascript:void(0)" class="pre-btn-dis pngFix" title="上一页" id="js_agency_pre" style="display:none" report-tdw="action=Agency-next"></a>
        <a href="javascript:void(0)" class="next-btn pngFix" title="下一页" id="js_agency_next" style="display:none" report-tdw="action=Agency-next"></a>
        <div class="hz-menu-bd-inner slider"  id="js_agency_cnt">
            <div class="business-list sliderbox clearfix" id="js_agency_list" style="width:368000px;">
            <%- agency_list%>
            </div>
        </div>
    </div>
</div>
<div class="fixed fixed-right" id="is-public-account-on-mobile">
    <img width="81" height="81" src="http://9.url.cn/edu/img/er-code-for-public-account-on-mobile.jpg" class="er-code-for-public-account-on-mobile"/>
    <p>QQ扫一扫<br/>关注腾讯课堂</p>
</div>
<div class="footer">
    <p>Copyright © 2014 Tencent. All Rights Reserved.</p>
    <p>深圳市腾讯计算机系统有限公司 版权所有</p>
</div>



</body>
</html>
